version: "3.9"

services:
  db:
    image: postgres:15
    container_name: arepabuelas-db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: miappdb
    volumes:
      - db-data:/var/lib/postgresql/data
    ports:
      - "5433:5432"
    networks:
      - app-network

  backend:
    image: isadiac/arepabuelas-backend:latest
    container_name: arepabuelas-backend
    environment:
      DATABASE_URL: postgres://postgres:postgres@db:5432/miappdb
      PORT: 5000
      NODE_ENV: production
    depends_on:
      - db
    ports:
      - "5000:5000"
    networks:
      - app-network

  frontend:
    image: isadiac/arepabuelas-frontend:latest
    container_name: arepabuelas-frontend
    ports:
      - "3000:80"
    depends_on:
      - backend
    networks:
      - app-network

volumes:
  db-data:

networks:
  app-network:
    driver: bridge
