.dashboard-layout {
  display: flex;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.main-content {
  flex: 1;
  background-color: #f4f4f4;
  overflow-y: auto;
  padding: 0; /* Quita el espacio extra visual */
  display: flex;
  flex-direction: column;
}