.history-page {
  padding: 2rem 3rem;
  width: 100%;
  box-sizing: border-box;
}

.history-page h1 {
  font-size: 2.5rem;
  color: #5E503F;
  margin-bottom: 40px;
}

.orders-list {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.order-card {
  background-color: white;
  border-radius: 12px;
  padding: 25px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
  border: 1px solid #f0f0f0;
  color:#5E503F
}

.order-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #eee;
  padding-bottom: 15px;
  margin-bottom: 15px;
}

.order-header h3 {
  margin: 0;
  color: #333;
}

.order-date {
  font-size: 0.9rem;
  color: #888;
}

.order-body h4 {
  margin-top: 0;
  margin-bottom: 10px;
  color: #5E503F;
}

.order-items-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.order-item {
  display: flex;
  justify-content: space-between;
  padding: 8px;
  background-color: #f9f9f9;
  border-radius: 6px;
  font-size: 0.9rem;
}

.order-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  padding-top: 15px;
  border-top: 1px solid #eee;
}

.coupon-tag {
  background-color: #e0f2fe;
  color: #0c4a6e;
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 0.8rem;
  font-weight: 600;
}

.order-total {
  font-size: 1.2rem;
  color: #5E503F;
}

.error-text {
  color: red;
}

p{
    color: #5E503F;
}